<a href="https://colab.research.google.com/github/tomalexsmith/Bitcoin-sentiment-analysis/blob/main/transform_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/btcTweetWithSentiment.csv'

with open(path, 'r', encoding = 'utf-8') as f:
  tweets_df = pd.read_csv(f, index_col=0)

tweets_df.head(len(tweets_df))

,mdy,date,content,likes,retweets,Sentiment
0,2023-03-06,2023-03-06 23:58:49+00:00,girl explain bitcoin,501,140,1.0
1,2023-03-06,2023-03-06 23:58:07+00:00,roughly hour leave pulsechain testnet fully sy...,32,1,1.0
2,2023-03-06,2023-03-06 23:57:47+00:00,come join conversation bitcoin fix hood americ...,24,1,1.0
3,2023-03-06,2023-03-06 23:54:57+00:00,get haircut pay bitcoin feel good always offer...,14,0,1.0
4,2023-03-06,2023-03-06 23:54:52+00:00,bitcoin usd weekly wrong bearish rising wedge ...,721,65,0.0
...,...,...,...,...,...,...
354888,2022-03-07,2022-03-07 07:25:09+00:00,gold act exactly store value preserve wealth c...,264,28,0.0
354889,2022-03-07,2022-03-07 07:24:10+00:00,see selloff tym bitcoin hold ema wts go happen...,27,1,0.0
354890,2022-03-07,2022-03-07 07:23:30+00:00,many follower bitcoin bitcoin,30,16,0.0
354891,2022-03-07,2022-03-07 07:17:32+00:00,reserve risk useful opinion underused indicato...,112,22,1.0
354892,2022-03-07,2022-03-07 07:17:05+00:00,clayfriendsnft revealeddd love art super bulli...,14,2,1.0

In [ ]:
tweets_df['mdy'] = pd.to_datetime(tweets_df['mdy'] )

In [ ]:
daily_average = tweets_df.groupby(tweets_df['mdy'].dt.date)['Sentiment'].mean().reset_index()

In [ ]:
daily_average.head(len(daily_average))

            mdy  Sentiment
0    2022-03-07      0.525
1    2022-03-08      0.533
2    2022-03-09      0.555
3    2022-03-10      0.528
4    2022-03-11      0.530
..          ...        ...
358  2023-03-02      0.573
359  2023-03-03      0.562
360  2023-03-04      0.585
361  2023-03-05      0.604
362  2023-03-06      0.601

[363 rows x 2 columns]

In [ ]:
path = '/content/drive/My Drive/avgDailySentiment.csv'

# with open(path, 'w', encoding = 'latin-1') as f:
#   tweets_df.to_csv(f)


with open(path, 'w', encoding = 'utf-8') as f:
  daily_average.to_csv(f)

# Get weekly sentiment

In [ ]:
# tweets_df.set_index('mdy', inplace=True)

weekly_average = tweets_df.resample('W')['Sentiment'].mean().reset_index()

In [ ]:
weekly_average.head(len(weekly_average))

          mdy  Sentiment
0  2022-03-13   0.535279
1  2022-03-20   0.562292
2  2022-03-27   0.560558
3  2022-04-03   0.581143
4  2022-04-10   0.584000
5  2022-04-17   0.578286
6  2022-04-24   0.579714
7  2022-05-01   0.567571
8  2022-05-08   0.541571
9  2022-05-15   0.534714
10 2022-05-22   0.578857
11 2022-05-29   0.563714
12 2022-06-05   0.577988
13 2022-06-12   0.567143
14 2022-06-19   0.505429
15 2022-06-26   0.565795
16 2022-07-03   0.560714
17 2022-07-10   0.565155
18 2022-07-17   0.558937
19 2022-07-24   0.565000
20 2022-07-31   0.574286
21 2022-08-07   0.588825
22 2022-08-14   0.582429
23 2022-08-21   0.568515
24 2022-08-28   0.584143
25 2022-09-04   0.575563
26 2022-09-11   0.580673
27 2022-09-18   0.566317
28 2022-09-25   0.557784
29 2022-10-02   0.549854
30 2022-10-09   0.579260
31 2022-10-16   0.561343
32 2022-10-23   0.580106
33 2022-10-30   0.575795
34 2022-11-06   0.581717
35 2022-11-13   0.506143
36 2022-11-20   0.542193
37 2022-11-27   0.545341
38 2022-12-04   0.552628
39 2022-12-11   0.563208
40 2022-12-18   0.550979
41 2022-12-25   0.571524
42 2023-01-01   0.571429
43 2023-01-08   0.570072
44 2023-01-15   0.561630
45 2023-01-22   0.557714
46 2023-01-29   0.564991
47 2023-02-05   0.554143
48 2023-02-12   0.570256
49 2023-02-19   0.586286
50 2023-02-26   0.565366
51 2023-03-05   0.583571
52 2023-03-12   0.601000

In [ ]:
path = '/content/drive/My Drive/avgWeeklySentiment.csv'

# with open(path, 'w', encoding = 'latin-1') as f:
#   tweets_df.to_csv(f)


with open(path, 'w', encoding = 'utf-8') as f:
  weekly_average.to_csv(f)

# Get most popular

In [ ]:
tweets_df['mdy'] = pd.to_datetime(tweets_df['mdy'] )

In [ ]:
tweets_df_10popular = tweets_df.groupby(tweets_df['mdy'].dt.date).apply(lambda x: x.nlargest(10, 'likes'))

In [ ]:
tweets_df_10popular.head(len(tweets_df_10popular))

                         mdy                       date  \
mdy
2022-03-07 354304 2022-03-07  2022-03-07 17:12:00+00:00
           354443 2022-03-07  2022-03-07 15:37:31+00:00
           354418 2022-03-07  2022-03-07 15:59:02+00:00
           354310 2022-03-07  2022-03-07 17:08:50+00:00
           354854 2022-03-07  2022-03-07 08:28:23+00:00
...                      ...                        ...
2023-03-06 555    2023-03-06  2023-03-06 18:31:29+00:00
           546    2023-03-06  2023-03-06 18:35:12+00:00
           865    2023-03-06  2023-03-06 15:54:36+00:00
           217    2023-03-06  2023-03-06 21:29:20+00:00
           565    2023-03-06  2023-03-06 18:23:43+00:00

                                                             content  likes  \
mdy
2022-03-07 354304  fear inflation regulation war famine complexit...  12492
           354443  cnn india young investor prefer bitcoin gold b...   5142
           354418  india young investor prefer bitcoin gold bore ...   5096
           354310  bitcoin etf coinbase blockfi write second supp...   4830
           354854                       bitcoin worth million dollar   4766
...                                                              ...    ...
2023-03-06 555     bitcoin payment el salvador start step flight ...   2477
           546                                bitcoin bull run begin   2099
           865                        pay coffee south korea bitcoin   1898
           217     floki trend twitter floki trend alongside bitc...   1851
           565     bitcoin bull mode activate tf lmacd cross bull...   1802

                   retweets  Sentiment
mdy
2022-03-07 354304      2263        0.0
           354443       608        0.0
           354418       598        0.0
           354310       620        0.0
           354854       440        1.0
...                     ...        ...
2023-03-06 555          453        0.0
           546          457        0.0
           865          424        1.0
           217          528        1.0
           565          420        0.0

[3630 rows x 6 columns]

In [ ]:
tweets_df_10popular = tweets_df_10popular.drop('mdy', axis=1)
tweets_df_10popular = tweets_df_10popular.reset_index()

In [ ]:
tweets_df_10popular = tweets_df_10popular.drop('level_1', axis=1)

In [ ]:
tweets_df_10popular = tweets_df_10popular.drop('date', axis=1)

In [ ]:
tweets_df_10popular.head(len(tweets_df_10popular))

,mdy,content,likes,retweets,Sentiment
0,2022-03-07,fear inflation regulation war famine complexit...,12492,2263,0.0
1,2022-03-07,cnn india young investor prefer bitcoin gold b...,5142,608,0.0
2,2022-03-07,india young investor prefer bitcoin gold bore ...,5096,598,0.0
3,2022-03-07,bitcoin etf coinbase blockfi write second supp...,4830,620,0.0
4,2022-03-07,bitcoin worth million dollar,4766,440,1.0
...,...,...,...,...,...
3625,2023-03-06,bitcoin payment el salvador start step flight ...,2477,453,0.0
3626,2023-03-06,bitcoin bull run begin,2099,457,0.0
3627,2023-03-06,pay coffee south korea bitcoin,1898,424,1.0
3628,2023-03-06,floki trend twitter floki trend alongside bitc...,1851,528,1.0
3629,2023-03-06,bitcoin bull mode activate tf lmacd cross bull...,1802,420,0.0

In [ ]:
tweets_df_10popular['mdy'] = pd.to_datetime(tweets_df_10popular['mdy'] )

In [ ]:
tweets_df_10popular.set_index('mdy', inplace=True)

weekly_average = tweets_df_10popular.resample('W')['Sentiment'].mean().reset_index()

In [ ]:
weekly_average.head(len(weekly_average))

          mdy  Sentiment
0  2022-03-13   0.357143
1  2022-03-20   0.528571
2  2022-03-27   0.471429
3  2022-04-03   0.457143
4  2022-04-10   0.528571
5  2022-04-17   0.557143
6  2022-04-24   0.585714
7  2022-05-01   0.542857
8  2022-05-08   0.457143
9  2022-05-15   0.500000
10 2022-05-22   0.571429
11 2022-05-29   0.371429
12 2022-06-05   0.600000
13 2022-06-12   0.600000
14 2022-06-19   0.442857
15 2022-06-26   0.385714
16 2022-07-03   0.628571
17 2022-07-10   0.457143
18 2022-07-17   0.471429
19 2022-07-24   0.600000
20 2022-07-31   0.600000
21 2022-08-07   0.571429
22 2022-08-14   0.514286
23 2022-08-21   0.614286
24 2022-08-28   0.600000
25 2022-09-04   0.566667
26 2022-09-11   0.642857
27 2022-09-18   0.600000
28 2022-09-25   0.542857
29 2022-10-02   0.550000
30 2022-10-09   0.557143
31 2022-10-16   0.657143
32 2022-10-23   0.600000
33 2022-10-30   0.585714
34 2022-11-06   0.585714
35 2022-11-13   0.428571
36 2022-11-20   0.528571
37 2022-11-27   0.557143
38 2022-12-04   0.657143
39 2022-12-11   0.614286
40 2022-12-18   0.514286
41 2022-12-25   0.585714
42 2023-01-01   0.485714
43 2023-01-08   0.614286
44 2023-01-15   0.600000
45 2023-01-22   0.571429
46 2023-01-29   0.600000
47 2023-02-05   0.557143
48 2023-02-12   0.471429
49 2023-02-19   0.585714
50 2023-02-26   0.414286
51 2023-03-05   0.500000
52 2023-03-12   0.400000

In [ ]:
path = '/content/drive/My Drive/TopAvgWeeklySentiment.csv'

# with open(path, 'w', encoding = 'latin-1') as f:
#   tweets_df.to_csv(f)


with open(path, 'w', encoding = 'utf-8') as f:
  weekly_average.to_csv(f)